<!DOCTYPE html>
<html lang="ja">
    <head>

    </head>
    <body>
        <h1>this is plan</h1>

        <!-- DB内のデータ -->
        <% @posts.each do |p| %>
            <div class="items">
                <%= link_to(p.id,"/home/plan/#{p.id}") %>
                <%= p.orgnizer %>
                <%= p.contact%>
                <%= p.content %>
                <%= p.number_participent %>
                <%= p.game_title %>
            </div>
        <% end %>
        
    </body>
</html>