<!DOCTYPE html>
<html lang="ja">
    <head>

    </head>
    <body>
        <h1><%= @post.content %></h1>
        <% if @current_user && (@post.orgnizer == @current_user.name) %>
            <%= link_to("大会編集","/home/edit/#{params[:id]}") %>
            <%= link_to("大会削除","/home/delete/#{params[:id]}",{method: :post}) %>
        <% end %>
        <!-- DB内のデータ -->
            <div class="items">
                <%= @post.id %>
                <%= @post.orgnizer %>
                <%= @post.contact %>
                <%= @post.content %>
                <%= @post.game_title %>
            </div>
    </body>
</html>