<!DOCTYPE html>
<html lang="ja">
    <head>

    </head>
    <body>
        <h1>this is plan</h1>

        <!-- DB内のデータ -->
            <div class="items">
                <%= @post.id %>
                <%= @post.orgnizer %>
                <%= @post.contact%>
                <%= @post.content %>
                <%= @post.number_participent %>
                <%= @post.game_title %>
            </div>
        
    </body>
</html>