<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>CreateTournamentApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <ul>
      <div class="jumbotron text-center">
        <a href="/home/top">
          <h1>SETPLAY</h1>
          <p>Held yourself EVO Tournament!</p> 
        </a>
      </div>
      <div class="flash">
        <% if flash[:notice] %>
          <h1><%= flash[:notice] %></h1>
        <% end %>
      </div>
    </ul>
    <div>
      <%= link_to("大会予定ページ","/home/plan") %>
      <% if @current_user %>
        <%= link_to("作成ページ","/home/top")%>
        <%= link_to("ログアウト","/logout",{method: :post}) %>
        <p><%= @current_user.name %>(id:<%= @current_user.id %>)</p>
      <% else %>
        <%= link_to("新規アカウント作成","/account") %>
        <%= link_to("ログイン","/login") %>
      <% end %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
    <%= yield %>
  </body>
</html>
