<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>CreateTournamentApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <div class="jumbotron text-center">
        <h1>SETPLAY</h1>
        <p>Held yourself EVO Tournament!</p> 
      </div>
      <div class="flash">
        <% if flash[:notice] %>
          <%= flash[:notice]  %>
        <% end %>
      </div>
    </ul>
    <div>
      <%= link_to("作成ページ","/home/top")%>
      <%= link_to("大会予定ページ","/home/plan") %>
    </div>
    <%= yield %>
  </body>
</html>
